@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

.head-contact{
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: center;
}

.top-info-bar{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    font-size: 14px;
}

.contact{
    position: relative;
    display: flex;
}

.icon{
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.icon h4{
    margin-left: 8px;
}

.icon i{
    transition: 0.5s;
}

.icon i:hover{
    color: #FFA33E;
}

.social{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
    height: 100%;
    position: relative;
}

.social a{
    display: flex;
    align-items: center;
}

.social a i{
    font-size: 19px;
    color: white;
    transition: 0.4s;
}

.social a i:hover{
    transform: translateY(10px);
    color: #FFA33E;
}

.book-table{
    position: relative;
    text-decoration: none;
    background-color: #ca3d26;
    color: white;
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.book-table:hover{
    background-color: white;
    color: #ca3d26;
}

a[href="mediumBookATable"] {
    display: none;
}

a[href="smallBookATable"] {
    display: none;
}

nav{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    position: fixed;
    z-index: 5;
    transition: 0.2s;
}

.navBar img{
    width: 180px;
    height: 85px;
}

.navBar{
    display: flex;
    width: 87vw;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
    font-size: 18px;
}

.navLink{
    text-decoration: none;
    color: white;
}

#themeBtn{
    outline: none;
    border: none;
    background-color: rgb(233, 35, 35);
    border-radius: 20px;
    width: 70px;
    height: 35px;
}

#themeBall{
    margin-left: 5px;
    width: 25px;
    height: 25px;
    background-color: yellow;
    border-radius: 100%;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#themeBall i{
    color: rgb(233, 35, 35);
    font-size: 17px;
}

header{
    position: relative;
    background: url(images/slider1.jpg);
    background-size: cover;
    width: 100%;
    height: 750px;
    transition: 0.5s;
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
}

.contact{
    color: white;
}

.slider{
    position: relative;
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sliderTextBox{
    opacity: 0.9;
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideButtons{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideButtons span{
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slideButtons div{
    width: 12px;
    height: 12px;
    background-color: rgba(111, 111, 111, 0.823);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 7.5px rgb(73, 73, 73);
}

#slide-text1{
    font-family: 'Pinyon Script', cursive;
    color: #FFA33E;
    transition: 1.2s;
    font-size: 100px;
}

#slide-text2{
    font-size: 50px;
    z-index: 1;
    font-family: 'Moon Dance', cursive;
    transition: 1.2s;
}

#slide-text3{
    font-size: 30px;
    font-family: 'Satisfy', cursive;
    transition: 1.2s;
}

#slideBtn1{
    background-color: rgb(255, 255, 255);
}

.vMenu{
    width: 200px;
    letter-spacing: 0.3em;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}

.vMenu:hover{
    background-color: #ca3d26;
    border: none;
}

.storyImage{
    width: 45%;
    height: 100%;
}

#story{
    height: 350px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.storyCon{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}

.storyText{
    width: 45%;
}

.aboutUs{
    font-family: 'Dancing Script', cursive;
    color: #ca3d26;
    font-size: 70px;
    transform: translateY(-15px);
}

#menu{
    height: 1080px;
    position: relative;
    width: 100%;
    background: url("../images/menubg.jpg") center;
    opacity: 0.8;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.45);
}

.menu{
    position: relative;
    height: 95%;
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

.foodItems{
    display: flex;
    flex-direction: column;
    transition: 0.7s;
}

.foodItem img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding: 2%;
    background-color: #ccc;
    position: relative;
}

.foodItem{
    display: flex;
    justify-content: space-evenly;
    width: 480px;
}

.foodText h3{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.foodText h3 span{
    color: #ca3d26;
}

.foodText{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.foodText p span{
    width: 100px;
}

.foodText p{
    display: flex;
}

.menuTitle{
    position: relative;
    color: #ca3d26;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filBtn{
    position: relative;
    padding: 5px 10px;
    background-color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid black;
}

.filBtn:hover{
    background-color: #ca3d26;
    color: white;
    border: 3px solid #ca3d26;
}

.filSel{
    background-color: #ca3d26;
    color: white;
    border: 3px solid #ca3d26;
}

.foodItems{
    transform: translateY(40px);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 180px 180px 180px 180px;
    height: 750px;
    transition: 0.7s;
}

#bookATable{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookTit{
    color: #ca3d26;
    font-family: 'Dancing Script', cursive;
    position: relative;
    font-size: 60px;
}

.bookingInput{
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.bookRow{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.bookRow input{
    height: 40px;
    width: 290px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid black;
}

.bookRow div{
    height: 40px;
    width: 300px;
    border: 0.1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.bookRow div i{
    font-size: 13px;
}

.bookRow div input{
    width: 85%;
    border: none;
}

.bookRow div input, input:focus{
    outline: none;
}

#bookATable button{
    width: 300px;
    height: 50px;
    background-color: #FFA33E;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}

#bookATable button:hover{
    background-color: white;
    border: 2px solid #FFA33E;
    cursor: pointer;
}

.nonVisible{
    display: none;
}

#gallarySlider{
    position: relative;
    width: 100%;
    height: 410px;
    background-color: #ccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sImg{
    position: relative;
    width: 48%;
    height: 92%;
    background-size: contain;
}

#sImg{
    background: url(images/gallary/gallary1.jpg) center;
    transition: 0.5s;
}

#eImg{
    background: url(images/gallary/gallary2.jpg) center;
    transition: 0.5s;
}

footer{
    width: 100%;
    height: 800px;
}

#mainFooter{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 4px solid #FFA33E;
}

#lowerFooter{
    width: 100%;
    height: 30%;
    background-color: #FFA33E;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map{
    width: 45%;
    height: 80%;
    background-color: #ccc;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.footerText{
    width: 40%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.openHours{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 75%;
    justify-content: space-evenly;
    font-size: 30px;
}

.timings{
    display: flex;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
}

.hourTitle{
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    color: #ca3d26;
}

.timeDay{
    width: 30%;
}

.timeDay div{
    font-family: 'Moon Dance', cursive;
}

.timeTiming{
    width: 70%;
}

.timeTiming div{
    font-family: 'Moon Dance', cursive;
}

.location{
    font-size: 50px;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.locationTitle{
    color: #ca3d26;
    font-family: 'Pinyon Script', cursive;
}

.locationText{
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Moon Dance', cursive;
}

#lowerFooter .img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lowerFooter .img img{
    width: 200px;
}

.footerContact{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footerC{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.footerContact .footerCon{
    display: flex;
    align-items: center;
}

.footerContact .footerCon i{
    margin-right: 20px;
}

.footIcons{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    width: 20%;
}

.footIcons i{
    transition: 0.4s;
    cursor: pointer;
}

.footIcons i:hover{
    transform: translateY(-10px);
}

.footerCon i{
    transition: 0.4s;
}

.footerCon i:hover{
    font-size: 20px;
}

.footerSocial{
    display: flex;
    align-items: center;
    height: 15%;
}

.sticky{
    background-color: white;
    transform: translateY(-50px);
    height: 115px;
}

.sticky .navLink{
    color: black;
}

.sticky .current{
    color: #ca3d26;
}

.current{
    color: #ca3d26;
    border-bottom: 1px solid #ca3d26;
}

.section{
    border-top: 115px solid white;
}

.toRev{
    opacity: 0;
    transition: all 1s ease;
}

#mediumBookATable{
    display: none;
}

#smallBookATable{
    display: none;
}

.active{
    opacity: 1;
}

.navLink{
    transition: 0.3s ease;
}

.navLink:hover{
    color: #ca3d26;
}

.filterButtons{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.smallNav{
    display: none;
}

.bTLarge{
    display: block;
}

.bTMedium{
    display: none;
}

.bTSmall{
    display: none;
}
